@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Inter", sans-serif;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}

a.active {
  color: black;
  background-color: cyan;
}

.custom-pad {
  padding: 30px 10px;
}
